In [3]:
import numpy as np
import pandas as pd
pd.read_csv("data.txt", sep="|")

,date,gdp,consumption,invest,government,dpi,cpi,m1,tbill,unemp,population,inflation,interest
0,1950 Q1,1610.5,1058.9,198.1,361.0,1186.1,70.6,110.20,1.12,6.4,149.461,NaN,NaN
1,1950 Q2,1658.8,1075.9,220.4,366.4,1178.1,71.4,111.75,1.17,5.6,150.260,4.5071,-3.3404
2,1950 Q3,1723.0,1131.0,239.7,359.6,1196.5,73.2,112.95,1.23,4.6,151.064,9.9590,-8.7290
3,1950 Q4,1753.9,1097.6,271.8,382.5,1210.0,74.9,113.93,1.35,4.2,151.871,9.1834,-7.8301
4,1951 Q1,1773.5,1122.8,242.9,421.9,1207.9,77.3,115.08,1.40,3.5,152.393,12.6160,-11.2160
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,1999 Q4,9049.9,6083.6,1725.4,1564.8,6379.2,504.1,1124.80,5.06,4.1,272.691,0.9533,4.1067
200,2000 Q1,9102.5,6171.7,1722.9,1560.4,6431.6,512.8,1113.70,5.54,4.0,274.848,6.8445,-1.3012
201,2000 Q2,9229.4,6226.3,1801.6,1577.2,6523.7,516.5,1105.30,5.78,4.0,277.022,2.8758,2.9009
202,2000 Q3,9260.1,6292.1,1788.8,1570.0,6566.5,520.3,1096.00,6.03,4.1,279.213,2.9321,3.0979
203,2000 Q4,9303.9,6341.1,1778.3,1582.8,6634.9,521.1,1088.10,6.03,4.0,281.422,0.6146,5.4154